

body {
    font-family: Gotham,Helvetica,Arial,sans-serif;
    font-size: 0.9em;
	background-color:#fafafa;
	color:#222c2e;
}
div.powered{
    float: right;
    padding-top: 40px;
}


div#box-1,div#box-2,div#box-3,div#box-4{
background-color:#fff;
border:1px solid #ddd;
padding: 20px;
}


div#detail_boxes{
margin-top:20px;
}

.fas{
    float: left;
    margin-right: 10px;
	color:#146392;
}
.my-3{
margin-bottom:5px!important;
}

.my-4 {
color:#146392;
background-color:#fff;
margin-top:0px!important;
margin-bottom:0px!important;
font-weight: 700;
}

h3.my-4{
font-size:1.5em;
text-transform:uppercase;
padding-bottom:1em;
}

tr{
Border-top: 1px solid #ddd;
}

td{
Padding:10px;
}

th{
padding: 10px;
text-transform: uppercase;
}

th.right {
float:right;
text-align: right;
}

.big_price{

}

div#main_chart {
border: 1px solid #ddd;
padding-left: 10px;
background-color:#fff;
}

div.details, div.overview {
 border: 1px solid #ddd;
 padding-left: 20px;
 padding-right: 20px;
 background-color: #fff;
 color: #222c2e;
}

h3.my-3{
font-size: 1.5rem;
color:#146392;
}

h1.my-4{
background: none;
}

table#table-item-1.sortable{
  border: 1px solid #ddd;
  padding-left: 20px;
  width:100%;
}

table#table-item-2.sortable{
  border: 1px solid #ddd;
  padding-left: 20px;
   width:100%;
}


table#table-item-3.sortable{
  border: 1px solid #ddd;
  padding-left: 20px;
   width:100%;
}

table#table-item-4.sortable{
  border: 1px solid #ddd;
  padding-left: 20px;
   width:100%;
}

.table_header{
  color:#fff;
  padding: 10px;
  background-color: #146392;
}

.change {
  font-size: 0.8em;
}

.change_percent{

}

.info_key{

}

.info_value{
  float: right;
}

.percent{
  text-align: right;
}

.number{
  text-align: right;
 }

.detailed_box{
  width: 500;
  height: 300;
}

.powered{
  text-align: right;
}

.outer_delayed_price {
  padding-top: 5px;
  padding-bottom: 5px;
}

.center_tight{
  width: 80%;
  margin-left: auto;
  margin-right: auto;  
}

.italicize {
     font-style: italic;
}

.centerize {
    text-align: center;
}


t {
    background-color:#f6931e;
    animation-name: color_highlight;
    animation-duration: 5s;    
}

ul {
list-style-type: none;
-webkit-padding-start: 0px;
}

@keyframes color_highlight {
    from {background-color: #33ccff;}
    to {background-color: #f6931e;}
}
