

body {
    font-family: Gotham SSm A,Gotham SSm B,Helvetica,Arial,sans-serif;
    font-size: 0.9em;
}

.big_price{

}

.table_header{
  font-color: "red";
}

.change {
  font-size: 0.8em;
}

.change_percent{

}

.percent{
  text-align: right;
}

.number{
  text-align: right;
 }

.detailed_box{
  width: 500;
  height: 300;
}

.powered{
  text-align: right;
}

.outer_delayed_price {
  padding-top: 20px;
}

.etf_calc_overview {
   width: 800px;
   margin-left: auto;
   margin-right: auto;
   border: 3px solid;
   font-size: 1.1em;
}

.center_tight{
  width: 80%;
  margin-left: auto;
  margin-right: auto;  
}

.italicize {
     font-style: italic;
}

.centerize {
    text-align: center;
}

.enbolden {
  text-decoration: underline;
  font-weight: bold;   
  text-align: center;
}

.answers {
  margin-left: 10%;
}

.output_cost{
  text-decoration: underline;
  text-align: right;
  float: right;
  padding-right: 100px;
}

.box_it {
  border: 1px solid;
  display: inline-block;
  text-align: center;
  width: 120px; 
  margin: auto;
}

t {
    background-color:#f6931e;
    animation-name: color_highlight;
    animation-duration: 5s;    
}

@keyframes color_highlight {
    from {background-color: #33ccff;}
    to {background-color: #f6931e;}
}
